header{
    display: flex;
    justify-content: center;
    background-color: transparent;    
    font-size: 24px;
    color: beige;
    height: 32px;   
    opacity: 0.8;
 
}
body{
     background-size: cover; 
    height: 97.5vh;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif; 
}


#browser-div{
    display: flex;
    flex-direction: row;
    overflow: auto;
    overflow-y: hidden;
    
}
.checklist-box{
    margin: 4px;
}

.inner-div-class{
    
    justify-content: space-around;
    background-color: rgb(230, 233, 233);
    width: 25%;
    height: 100%;
    font-size: large;
    font-weight: bold;
    padding: 6px 4px;
    overflow-y: scroll;
    max-height: 80vh;
    border-radius: 8px;
    margin: 0 5px;
    
}

li{
    list-style-type: none;
    font-size: 16px;
    overflow: hidden;
    padding: 6px 8px 2px;
    position: relative;
    z-index: 10;
    margin: 8px 4px;
    background-color: white;
    border-radius: 6px;
    
}
li:hover{
    cursor: pointer;
}

.remove-list{
    position: relative;
    float: right;
    background-color: white;
    color: red;
    font-weight: bold;
}

.edit-list{
    position: relative;
    float: right;
    background-color: white;
    color: green;
    align-items: center;
}
#add-card{
    opacity: 0.7;
    border: none;
    position: relative;    
}
#add-list{
    max-height: 12vh;
    padding: 20px 20px;
    opacity: 0.7;
}


.checklist-popup {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    max-height: 80vh;
    
  }

  .checklist-popup-content {
    background-color: #fefefe;
    color:black;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  .items-checklist, .add-new-checklist{
    display:flex;
    flex-direction: row;
    font-weight: normal;
    list-style-type: none;
    font-size: 16px;
    overflow: hidden;
    padding: 6px 8px 2px;
    position: relative;
    z-index: 10;
    margin: 8px 4px;
    background-color: white;
    border-radius: 6px;
  }
  .items-checklist:hover{
    cursor: pointer;
    background-color: lightgray;
  }
 
  .des-card-head, .card-header{
      font-weight: bold;
  }
  .checklist-box{
      border: 1px solid gray;
      font-weight: bold;
      border-radius: 6px;
  }
  .checklist-box::before{
    content: '☑';
    font-weight: bold;
  }
  .des-card-head::before{
      content: '☴ ';
      font-weight: bold;
  }
 

  .delete-checklist-button{
      position: relative;
      float: right;
      background-color: rgb(224, 92, 92);
      border-radius: 6px;
      font-weight: bold;
  }
  .delete-checklist-button:hover{
    cursor: pointer;
    background-color: lightgray;
  }

  .add-new-checklist{
      background-color: lightgreen;
      font-weight: bold;
  }